body {
    background-image: url("homeback.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#loginContainer {
    margin-top: 20%;
}

#loginLabel {
    font-size: 3em;
    color: white;
}

#loginForm {
    width:100%;
    height:100%;
    background-color: black;
    border-radius: 50px;
    opacity: .5;
}

.form-control {
    width: 60% !important;
    border-radius: 50px;
    margin-bottom: 5px;
    z-index:1000;
}

