<!-- views/login.ejs -->
<!doctype html>
<html ng-app="myApp">
<head>
    <base href="/">

    <title>Chariot</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/css/loginstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <script src="/js/loginCtrl.js"></script>
</head>
<body ng-controller="loginCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pr-wrap">
                    <div class="pass-reset">
                        <label>
                            Enter the email you signed up with</label>
                        <input type="email" placeholder="Email" />
                        <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
                    </div>
                </div>
                <div class="wrap">
                    <p class="home-title">Chariot</p>
                    <!--<p class="form-title">Sign In</p>-->
                    <form action="/login" method="post" class="login">
                        <input type="text" name="username" placeholder="Enter Username">
                        <input type="password" name="password" placeholder="Enter Password">
                        <input type="submit" value="Sign In" class="btn btn-success btn-sm subBut" />
                        <div class="remember-forgot">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" />
                                            Remember Me
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 forgot-pass-content">
                                    <a href="javascription:void(0)" class="forgot-pass">Forgot Password</a>
                                </div>
                                <div class="col-md-6 register">
                                    <a ng-click="go('signup')">Register</a>
                                </div>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.forgot-pass').click(function(event) {
                $(".pr-wrap").toggleClass("show-pass-reset");
            });

            $('.pass-reset-submit').click(function(event) {
                $(".pr-wrap").removeClass("show-pass-reset");
            });
            $('.register-user').click(function(event) {
                $(".reg-wrap").toggleClass("show-register");
            });

            $('.register-submit').click(function(event) {
                $(".reg-wrap").removeClass("show-register");
            });
        });
    </script>
</body>
</html>
