<!DOCTYPE html>
<html ng-app="demo" ng-controller="MySidebar">
<head>
	<title>Homepage</title>
	<meta charset="utf-8">
	<meta name="author" content="secanis.ch">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/libs/angular-simple-sidebar/angular-simple-sidebar.min.css">
	<link ng-if="theme === 'black'" rel="stylesheet" href="/libs/angular-simple-sidebar/angular-simple-sidebar-black-theme.min.css">
	<script src="/libs/angular/angular.min.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/profileCtrl.js"></script>
	<script src="/libs/angular-simple-sidebar/angular-simple-sidebar.min.js"></script>
</head>
<body>
	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<angular-simple-sidebar state="state" items="items" title="menuTitle" settings="settings"></angular-simple-sidebar>
			</div>
		</div>
	</nav>
	<div class="col-sm-6">
		<div class="well">
			<h3><span class="fa fa-user"></span> Local</h3>
			<p>
                <strong>id</strong>: <%= user.id %><br>
				<strong>username</strong>: <%= user.username %><br>
				<strong>password</strong>: <%= user.password %>
			</p>

		</div>
	</div>
    <form ng-submit="sub()">
        <input type="text" ng-model="formData.desc" placeholder="Enter desc" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>

